@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Nanum+Gothic+Coding&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	--white: hwb(0 95% 5%);
	--red: hwb(353 14% 5%);
	--grey: hwb(256 68% 27%);
	--black: hwb(0 0% 100%);

	--about-text-size: 25ch;
}

body {
	min-height: 100vh;
	display: grid;
	place-items: center;
	font-family: "Nanum Gothic Coding", sans-serif;
	font-size: 18px;
	background-color: var(--white);
}

h1 {
	font-family: "Comfortaa", sans-serif;
	text-transform: uppercase;
	color: var(--black);
	font-weight: 700;
	font-size: 2.5rem;
}

p {
	text-transform: uppercase;
	font-size: 0.9rem;
}

.container {
	width: 100%;
	max-width: 960px;
	color: var(--black);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.about,
.franchise {
	padding: 2em;
	min-height: 100vh;
}

.tagline {
	align-self: flex-start;
	position: relative;
}
.tagline::after {
	content: "";
	position: absolute;
	width: 2px;
	height: 100%;
	top: 0;
	left: -1em;
	background-color: var(--red);
}

/* SECTION: About */

footer {
	display: none;
}
.about {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-auto-rows: auto;
	column-gap: 1em;
}
.about h1:nth-of-type(1) {
	grid-column: 3 / 5;
	grid-row: 2 / 3;
	align-self: flex-end;
}
.about .photo {
	width: 200px;
	height: 150px;
	grid-column: 7 / 8;
	grid-row: 2 / 3;
	background-image: url("https://media.discordapp.net/attachments/1057532762590040077/1069001205788979280/Sicontis_futuristic_robotic_coffee_making_device_white_backgrou_41f74aac-1d3a-413a-a333-652e1ca91ba1.png?width=1014&height=676");
	background-size: cover;
	background-position: center;
	padding: 1em;
	display: grid;
	position: relative;
}
.about .photo::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--red);
	mix-blend-mode: overlay;
}
.about .photo h1 {
	grid-column: 1 / -1;
	grid-row: 1 / -1;
	font-size: 2rem;
	text-transform: lowercase;
	color: var(--white);
}
.about h1:nth-of-type(2) {
	grid-column: 4 / 6;
	grid-row: 3 / 4;
}
.about p:nth-of-type(2) {
	width: 10ch;
	text-align: right;
	grid-column: 3 / 4;
	grid-row: 3 / 4;
	align-self: center;
	color: var(--grey);
	position: relative;
	height: 7ch;
}
.about p:nth-of-type(2):after {
	content: "";
	position: absolute;
	width: 2px;
	height: 90%;
	top: 0;
	right: -1em;
	background-color: var(--red);
}
.about .title {
	grid-column: 3 / 8;
	grid-row: 5 / 6;
	display: grid;
	grid-template-columns: 7ch 1fr;
	align-items: center;
}
.about .title > div {
	height: 2px;
	width: 100%;
	background-color: var(--black);
}

.about p:nth-of-type(3) {
	width: var(--about-text-size);
	grid-column: 3 / 5;
	grid-row: 6 / 8;
}
.about p:nth-of-type(4) {
	width: var(--about-text-size);
	grid-column: 6 / 8;
	grid-row: 6 / 7;
}

/* SECTION: Franchise */
.franchise {
	padding: 2em;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-auto-rows: auto;
	column-gap: 1em;
	background-color: var(--grey);
}
.franchise h1:nth-of-type(1) {
	grid-column: 3 / -1;
	grid-row: 2 / 3;
}
.franchise .title {
	grid-column: 3 / -1;
	grid-row: 5 / 6;
	display: grid;
	grid-template-columns: 10ch 1fr;
	align-items: center;
	height: 4em;
}
.franchise .title > div {
	height: 2px;
	width: 100%;
	background-color: var(--black);
}

.franchise .f-grid {
	--item-size: 0.6fr;

	grid-column: 3 / -1;
	grid-row: 6 / 7;
	display: grid;
	grid-template-columns: var(--item-size) var(--item-size) 1fr;
	grid-auto-rows: auto;
	gap: 1em;
}
.f-grid li {
	user-select: none;
	padding: 1em;
	display: grid;
	grid-template-rows: 4ch 1fr;
	align-items: flex-start;
	border: 1px solid var(--black);
}
.f-grid li p {
	width: 8ch;
}
.f-grid li h2 {
	font-size: clamp(2rem, 6vw, 3rem);
	text-transform: uppercase;
	width: 5ch;
	word-wrap: break-word;
}

.f-grid .red {
	background-color: var(--red);
	border: none;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}
.f-grid > .red:hover {
	color: var(--white);
}
.f-grid .black {
	background-color: var(--black);
	border: none;
}
.f-grid .black:hover {
	background-color: var(--red);
}
.f-grid .black h2 {
	color: var(--red);
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}
.f-grid .black:hover h2 {
	color: var(--black);
}
.f-grid .black p {
	color: var(--white);
}
.f-grid li:last-child {
	background-image: url("https://media.discordapp.net/attachments/1057532762590040077/1069001205788979280/Sicontis_futuristic_robotic_coffee_making_device_white_backgrou_41f74aac-1d3a-413a-a333-652e1ca91ba1.png?width=1014&height=676");
	background-size: cover;
	background-position: center top;
	position: relative;
	border: 0;
	height: 300px;
}
.f-grid li:last-child::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--red);
	mix-blend-mode: overlay;
}

.franchise .p-grid {
	--item-size: 0.6fr;
	margin: 3em 0;
	grid-column: 3 / -1;
	grid-row: 7 / 8;
	display: grid;
	grid-template-columns: var(--item-size) var(--item-size) 1fr;
	gap: 1em;
}
.p-grid li {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 10ch 1fr;
	text-transform: uppercase;
}
.p-grid li > * {
	width: 15ch;
}

header {
	width: 100%;
	display: grid;
	justify-items: center;
	padding: 1em;
}
header p {
	font-size: 0.8rem;
}
header p.supports {
	display: none;
}
header a {
	display: inline-block;
	color: var(--red);
}

@supports (grid-template-columns: subgrid) {
	.container {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-auto-rows: auto;
		column-gap: 1em;
	}
	.about {
		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: subgrid;
	}
	.franchise {
		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: subgrid;
	}
	header p.supports {
		display: block;
	}
	header p.supports strong {
		color: green;
	}
}

@media (max-width: 600px) {
	.about,
	.franchise {
		grid-template-columns: repeat(7, 1fr);
		padding: 1em;
	}

	.tagline::after {
		left: -0.5em;
	}
	.about h1:nth-of-type(1),
	.about h1:nth-of-type(2) {
		font-size: 2rem;
	}
	.about h1:nth-of-type(1) {
		grid-column: 1 / 3;
		grid-row: 2 / 3;
		align-self: flex-end;
	}
	.about .photo {
		grid-column: 5 / 6;
	}
	.about h1:nth-of-type(2) {
		grid-column: 2 / 5;
	}
	.about p:nth-of-type(2) {
		width: 8ch;
		grid-column: 1 / 2;
	}
	.about p:nth-of-type(3) {
		grid-column: 1 / 3;
	}
	.about p:nth-of-type(4) {
		width: var(--about-text-size);
		grid-column: 4 / 7;
	}

	.franchise h1:nth-of-type(1) {
		margin-top: 2rem;
		grid-column: 1 / 6;
		font-size: 2rem;
	}
	.about .title {
		grid-column: 1 / -1;
	}
	.franchise .title {
		grid-column: 1 / -1;
	}

	.franchise .f-grid,
	.franchise .p-grid {
		margin: 2em 0;
		grid-column: 1 / -1;
		grid-template-columns: 1fr;
	}
	.f-grid li {
		margin-bottom: 1em;
	}
	.f-grid li p {
		width: 80%;
	}
	.f-grid li h2 {
		font-size: 2rem;
		width: 80%;
	}

	.p-grid li {
		grid-template-columns: 1fr;
		grid-template-rows: 3ch 1fr;
		text-transform: uppercase;
	}
	.p-grid li > * {
		width: 100%;
	}

	header {
		justify-items: flex-start;
	}
}
